p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.myprofile {
  width: 50%;
  text-align: center;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}



.google-fonts {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

header > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#profile {
  margin: 0 27% 0 27%;
  font-size: 34px;
  border: 1px solid black;
}

div > img {
  margin: 0 auto;
  width: 100%;
}

#nav-pc {
  width: 50%;
}

#nav-pc ul {
  list-style: none;
}
#nav-pc > li {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}

#nav-pc a {
  margin-right: 30px;
  font-size: 34px;
  list-style: none;
  color: black;
  text-decoration: none;
}

h2 {
  margin: 0;
  padding: 60px 0 40px;
  text-align: center;
  font-size: 34px;
}

p,
li {
  font-size: 18px;
}

.aboutin {
  display: flex;
}

#jigazou {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

.content {
  width: 50%;
}

.box1 {
  width: 33%;
  display: block;
}

.box2 {
  width: 33%;
  display: block;

}.box3 {
  width: 33%;
  display: block;
}

.works {
  display: flex;
  margin-bottom: 200px;
}

footer {
  text-align: center;
}