p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}



.google-fonts {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

header > a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

header > h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  border: 1px solid black;
  padding: 0px 20px;
}

div > img {
  margin: 0 auto;
  width: 100%;
}

#nav-pc ul {
  display: flex;
  padding-left: 0;
}

#nav-pc li {
  margin: 0 20px;
  list-style: none;
}

#nav-pc a {
  font-size: 34px;
}

h2 {
  margin: 0;
  padding: 60px 0 40px;
  text-align: center;
  font-size: 34px;
}

p,
li {
  font-size: 18px;
}

.about {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

#about {
  display: flex;
}